BasedOnStyle: LLVM
IndentWidth: 4
AlignEscapedNewlines: Right
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  BeforeElse: true
  BeforeCatch: true
AlwaysBreakTemplateDeclarations: Yes
